<nav class="navbar navbar-toggleable-md navbar-light">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar"
        aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a href="/" class="navbar-brand" title="Home">
        <img src="design/img/logo-thebrownfox.svg" class="logo" />
        <h1 class="title">The brown Fox</h1>
    </a>
    <div class="collapse navbar-collapse" id="navbar">
        <div class="navbar-nav ml-auto">
            <div class="quick-links vertical">
                <a class="nav-link quick-link" href="/projecten.html">References</a>
                <a class="nav-link quick-link" href="/over-mij.html">About me</a>
                <a class="nav-link quick-link" href="https://blog.thebrownfox.be" target="_blank" rel="noopener">Blog</a>
            </div>
        </div>
    </div>
</nav>
