html {
  font-size: $base-font-size;
}

html,
body {
  margin: 0;
  padding: 0;

  font-family: $base-font-family;
  color: $brand-body-color;

  overflow-x: hidden;
}

body {
  font-size: $body-font-size;
  line-height: normal;

  background-image: url("/design/img/logo-thebrownfox-bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
}
