.animation {
    &-delay-1 {
        transition-delay: 0.1s;
    }
    &-delay-2 {
        transition-delay: 0.2s;
    }
    &-delay-3 {
        transition-delay: 0.3s;
    }
    &-delay-4 {
        transition-delay: 0.4s;
    }
    @include media-breakpoint-up(md) {
        &-fade-in {
            opacity: 0;
            transition-property: opacity;
            transition-duration: 0.3s;
            @at-root .init-load-animation & {
                opacity: 1;
            }
        }
    }
}
