.quick-links {
    &.scramble {
        margin-left: auto;
        margin-right: auto;
        padding-left: 4rem;
        padding-top: 4rem;
        width: 40rem;
        height: 40rem;
        .quick-link {
            display: block;
            width: 50%;
            height: 50%;
            color: $white;
            text-decoration: none;
            font-size: 2.7rem;
            font-weight: 300;
            line-height: 1.5rem;
            text-transform: uppercase;
            background-color: $brown-fox-orange;
            transform: rotate(-45deg);
            transition: transform .3s;
            padding: 1rem;
            position: relative;
            box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.25);
            &:nth-child(1) {
                background-color: darken($brown-fox-orange, 10);
            }
            &:nth-child(2) {
                background-color: darken($brown-fox-orange, 0);
                left: 2.2%;
                top: -30.8%;
            }
            &:nth-child(3) {
                background-color: lighten($brown-fox-orange, 10);
                top: -92%;
                left: 34%;
            }
            &:hover,
            &:active,
            &:focus {
                text-decoration: none;
                color: $white;
                transform: rotate(-45deg) scale(1.1);
            }
        }
    }
    &.vertical {
        @include media-breakpoint-up(lg) {
            padding-left: 4rem;
            padding-top: 4rem;
            width: 40rem;
            height: 40rem;
            .quick-link {
                display: block;
                width: 50%;
                height: 50%;
                color: $white;
                text-decoration: none;
                font-size: 2.7rem;
                font-weight: 300;
                line-height: 1.5rem;
                text-transform: uppercase;
                background-color: $brown-fox-orange;
                transform: rotate(-45deg);
                transition: transform .3s;
                padding: 1rem;
                position: relative;
                box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.25);
                &:nth-child(1) {
                    background-color: darken($brown-fox-orange, 10);
                }
                &:nth-child(2) {
                    background-color: darken($brown-fox-orange, 0);
                    top: -30%;
                }
                &:nth-child(3) {
                    background-color: lighten($brown-fox-orange, 10);
                    top: -60%;
                }
                &:hover,
                &:active,
                &:focus {
                    text-decoration: none;
                    color: $white;
                    transform: rotate(-45deg) scale(1.1);
                }
            }
        }
    }
}
