@import "../variables";
.ref {
  margin-top: 7rem;
  margin-bottom: 7rem;
  &-container-title {
    margin-bottom: 5rem;
  }
  &-row {
    .col {
      flex-basis: 50%;
      padding-top: $row-margin;
      padding-bottom: $row-margin;
    }
  }
  &-item {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;

    &:hover,
    &:focus,
    &:active {
      .ref-media {
        opacity: 1;
        filter: saturate(100%);
      }
      .ref-title,
      .ref-text {
        background-color: $brand-primary;
        color: $brand-white;
      }
    }
  }
  &-media {
    width: 100%;
    height: 100%;
    opacity: 0.5;
    transition: opacity 0.2s, filter 0.2s;
    filter: saturate(0);
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &-body {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    transition: opacity 0.2s;
  }

  &-title,
  &-text {
    background-color: $brand-white;
    color: $brand-body-color;
    margin: 0;
    padding: 0 0 0 1.5rem;
    transition: color 0.2s, background-color 0.2s;
  }
  &-title {
    padding-top: 2rem;
    color: $brand-primary;
    &:last-child {
      padding-bottom: 2rem;
    }
  }
  &-text {
    padding-bottom: 2rem;
  }
}
