.hero-block {
    padding: 5vh;
    height: 100vh;
    background-color: #fafafa;
    > .container {
        height: 100%;
    }
    .title {
        display: inline-block;
        line-height: 5rem;
        margin: 0;
    }
    .logo {
        width: 5rem;
        margin-right: 2rem;
        float: left;
    }
}
