<!-- index.njk -->
{% extends "layout.njk" %}

{% block title %}About me{% endblock %}

{% block content %}
    {% include "../templates/components/_header.njk" %}
    <main>{% include "../templates/components/_contact.njk" %}</main>
    {% include "components/_footer.njk" %}
{% endblock %}
