<!-- index.njk -->
{% extends "layout.njk" %}

{% block title %}Over mij{% endblock %}

{% block content %}
    {% include "../templates/components/_header.njk" %}
    {% include "../templates/components/_contact.njk" %}
    {% include "components/_footer.njk" %}
{% endblock %}
