// Colors
// / Grays
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;

// / Rainbow colors
$brand-white: #ffffff;
$brand-black: #000000;
$brand-orange: #f06322;

$brand-primary: $brand-orange;
$brand-body-color: $gray-800;

// Fonts
$base-font-size: 10px;
$body-font-size: 1.6rem;
$base-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
  "Segoe UI Symbol", "Noto Color Emoji";

// Grid
$screen-xs-min: 0;
$screen-xs-max: 576px;
$screen-sm-min: 577px;
$screen-sm-max: 768px;
$screen-md-min: 769px;
$screen-md-max: 992px;
$screen-lg-min: 993px;
$screen-lg-max: 1200px;
$screen-xl-min: 1201px;

$grid-gutter-size: 3rem;
$row-margin: ($grid-gutter-size / 2);
